<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="La nostra azienda offre alla clientela, da oltre 20 anni, un servizio accurato e garantito nella fornitura e nella posa specializzata di pavimenti e rivestimenti.">
  <title>Concessionarie - Nuovaceramica</title>
</head>
<body>
  <%- include('navbar', {to: 'hauser'}); %>

  <style><%- include('./style.css'); %></style>

  <div class="concessionarie-wrapper">
    <div class="container conc">
      <h1>Concessionarie:</h1>
      <h4>Ceramiche:</h4>
      <ul>
        <li>Sant'Agostino \ Mirage \ Panaria \ Del Conca \ Vogue \ Ragno \ Marazzi \ Gazzini \ Edilgres \ Cipa \ Coem \ Sintesi \ Ideaceramica \ Area \ Dado \ Magica \ Master \ Progetto Baucher \ Casalgrandepadana \ Ariostea \ ItalianTrend \ Serenissima \ Bisazza \ Pietre d'Arredo</li>
      </ul>
      <h4>Profili:</h4>
      <ul>
        <li>Progressprofiles \ Schülter System</li>
      </ul>
      <h4>Resine:</h4>
      <ul>
        <li>Errelab</li>
      </ul>
      <h4>Stufe e fornelli:</h4>
      <ul>
        <li>Tiba \ Skanteherm \ Tonwerk \ Leda \ Wodtke \ Tulikivi \ Rika \ Edilkamin \ Cucine Greithwald</li>
      </ul>
    </div>
  </div>
</body>
<footer><%- include('footer'); %></footer>
</html>
