<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="La nostra azienda offre alla clientela, da oltre 20 anni, un servizio accurato e garantito nella fornitura e nella posa specializzata di pavimenti e rivestimenti.">
  <title>Locazione - Nuovaceramica</title>
</head>
<body>
  <%- include('navbar'); %>

  <style><%- include('./style.css'); %></style>

  <div class="container">
    <h1>Contatti</h1>
    <ul>
      <li>Nuovaceramica Sagl</li>
      <li>S.Antonio 38</li>
      <li>7745 Li Curt(CH)</li>
      <li>Telefono: +41 79 669 15 31</li>
      <li>E-mail: albacosta@bluewin.ch</li>
      <li>Social Network:</li>
    </ul>
  </div>

</body>
</html>
