<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="La nostra azienda offre alla clientela, da oltre 20 anni, un servizio accurato e garantito nella fornitura e nella posa specializzata di pavimenti e rivestimenti.">
  <title>Ditta - Nuovaceramica</title>
</head>
<body>
  <%- include('navbar_de'); %>

  <style><%- include('./style.css'); %></style>

  <div class="azineda-wrapper">
    <div class="container">
      <div class="ditta">
        <p>
          Die Firma Nuovaceramica Sagl wurde im Jahre 1994 von vier Unernehmern gegründet,
          die das Bedürfins sahen, ein neues Plattenlegergeschàft im Puschlavertal zu eröffnen.
        </p>
        <p>
          Im Jahre 2003 übernahmen Albano Costa und seine Ehefrau das Geschäft.
        </p>
        <p>
          Die neuen Besitzer haben im Jahre 2011 eine neue Ausstellungsfläche in
          S. Antonio 38 in Li Curt eröffnet um den Kunden eine bessere Auswahl zu bieten.
          Die Nuovaceramica Sagl ist hauptsächlich in Valposchiavo un Endgidn tätig.
        </p>
        <p>
          Die Nuovaceramica Sagl ist Mitglied des Schweizerischen Plattenlegerverbandes.
        </p>
        <p>
          Sie wurde mit dem Platinium Award ausgezeichnet.
        </p>
    </div>
  </div>

  <div class="images">
    <img src="/azienda/img/logo_platinium.jpg" alt="logo platinium">
    <img src="/azienda/img/resine.jpg" alt="resine">
    <img src="/azienda/img/esposizione.jpg" alt="esposizione">
  </div>

</body>
<footer><%- include('footer'); %></footer>
</html>
