<!-- Footer -->
<style><%- include('footer.css'); %></style>

<div class="container">
  <hr>
  <ul class="footer">
    <li>&copy; Nuovaceramica</li>
    <li><img src="/android-chrome-192x192.png" id="logo_footer" alt="Logo footer"></li>
    <li><%- !locals.de ? '<a href="/data_it">Informativa sulla privacy</a>' : '<a href="/data_de">Datenschutzverordnung</a>' %></li>
  </ul>
</div>
