<!-- Footer -->
<style><%- include('footer.css'); %></style>

<div class="container">
  <hr>
  <ul class="powered">
    <li>&copy; Nuovaceramica</li>
    <li>Powered by Fritz</li>
    <li><img src="/android-chrome-192x192.png" id="logo-footer" alt="Logo-footer"></li>
  </ul>
</div>
