<!-- Footer -->
<style><%- include('footer.css'); %></style>

<div class="container">
  <hr>
  <ul class="footer">
    <li>&copy; Nuovaceramica</li>
    <li><img src="/android-chrome-192x192.png" id="logo_footer" alt="Logo footer"></li>
    <li><%= locals.de ? "Es werden keine personenbezogenen Daten erhoben" : "Non vengono raccolti dati personali" %></li>
  </ul>
</div>
