.footer {
  padding: 10px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  height: 4rem;
}

.footer li a {
  font-size: 20px;
  text-decoration: underline;
}

.footer li:hover a {
  color: dodgerblue;
}