<!-- Main Style -->
<style><%- include('style.css'); %></style>

<!-- Navbar -->
<style><%- include('navbar.css'); %></style>

<!-- Chavron -->
<style><%- include('./fas.css'); %></style>

<div class="nav-wrapper">
  <div class="container">
    <nav class="main-nav">
      <img src="/img/logo.jpg" id="logo" alt="Logo" class="logo">

      <ul>
        <li><a href="/">Home <i class="fas fa-chevron-right"></i></a></li>
        <li><a href="/servizi">Servizi <i class="fas fa-chevron-right"></i></a></li>
        <li><a href="/galleria">Galleria <i class="fas fa-chevron-right"></i></a></li>
        <li><a href="/ditta">Ditta <i class="fas fa-chevron-right"></i></a></li>
        <li><a href="/locazione">Dove siamo <i class="fas fa-chevron-right"></i></a></li>
      </ul>
    </nav>
  </div>
</div>
