<!-- Main Style -->
<style><%- include('style.css'); %></style>

<!-- Navbar -->
<style><%- include('navbar.css'); %></style>

<!-- Chavron -->
<style><%- include('./fas.css'); %></style>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<div class="nav-wrapper">
  <div class="container">
    <nav class="main-nav">
      <img src="/img/logo.jpg" id="logo" alt="Logo" class="logo">

      <ul>
        <li><a href="/">Home <i class="fas fa-chevron-right"></i></a></li>
        <li><a href="/servizi">Servizi <i class="fas fa-chevron-right"></i></a></li>
        <li><a href="/galleria">Galleria <i class="fas fa-chevron-right"></i></a></li>
        <li><a href="/ditta">Ditta <i class="fas fa-chevron-right"></i></a></li>
        <li><a href="/locazione">Dove siamo <i class="fas fa-chevron-right"></i></a></li>
      </ul>
    </nav>
  </div>
</div>
