.lang {
  position: absolute;
  width: 100%;
  margin: auto;
  margin: 40px 0;
}

.lang a {
  margin-top: -1.67vw;
  font-size: 5vw;
  float: right;
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  font-size: 13px;
}

.main-nav #logo {
  width: 100%;
  margin: 40px 0;
}

.main-nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-nav ul li {
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
}

.main-nav ul li a {
  opacity: 1;
  vertical-align: baseline;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
  opacity: 0.9;
}

.main-nav ul li a i.fa-chevron-right {
  padding-right: 10px;
  padding-left: 0px;
  transition: 0.6s;
}

.main-nav ul li a:hover i.fa-chevron-right {
  padding-left: 10px;
  padding-right: 0px;
  transition: 0.6s;
}

.main-nav ul li a i.fa-chevron-left {
  transform: rotate(-90deg);
  padding-top: 10px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .lang a {
    margin-top: -20px;
    font-size: 60px;
    float: right;
  }
}


@media (max-width: 1000px) {
  .main-nav ul li {
    font-size: 2.5vw;
  }
}

@media (max-width: 600px) {
  .main-nav ul li {
    font-size: 2.35vw;
  }
}

@media (max-width: 260px) {
  .main-nav ul li {
    font-size: 2vw;
  }
}
