<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="La nostra azienda offre alla clientela, da oltre 20 anni, un servizio accurato e garantito nella fornitura e nella posa specializzata di pavimenti e rivestimenti.">
  <title>Ditta - Nuovaceramica</title>
</head>
<body>
  <%- include('navbar'); %>

  <style><%- include('./style.css'); %></style>

  <div class="container">
    <div class="ditta">
      <div class="descrizione">
        <h1>Vent’anni di successo</h1>
        <p>
          La ditta Nuovaceramica S.a.g.l. compie vent’anni.
          Nasce nel 1994 da quattro amici che sentono l’esigenza di creare un nuovo esercizio commerciale,
          finora mancante, in Valposchiavo. Nel 2003 Albano Costa e sua moglie prendono le redini dell’azienda.
          Il nuovo proprietario accetta questa sfida professionale rimettendosi in gioco e frequentando nuovamente
          la scuola per specializzarsi in questo settore.
        </p>
      </div>
      <img src="./img/logo_platinium.jpg" alt="logo platinium">

      <img src="./img/resine.jpg" alt="resine">
      <div class="descrizione">
        <h1>Leader nel design</h1>
        <p>
          Nuovaceramica S.a.g.l. punta alla vendita diretta  rifornendosi dalle aziende produttrici
          per eliminare le eventuali tappe intermedie e abbattere ulteriormente costi.
          Qui vi si trovano stufe a legna o a pellet e una vasta scelta di piastrelle e pietre naturali.
          La merce è di altissima qualità e proviene prevalentemente dall’Italia,
          leader a livello mondiale nel design, ma anche dalla Spagna, dalla Germania e dalla Svizzera.
        </p>
      </div>

      <div class="descrizione">
        <h1>Attività</h1>
        <p>
          Attualmente Nuovaceramica S.a.g.l. svolge prevalentemente la sua attività in Valposchiavo e anche in Engadina.
          Si è giunti a questa espansione grazie a un lungo percorso di professionalizzazione e contatto con i clienti,
          segnato dall’importante decisione di aprire un nuovo negozio a Li Curt nel 2011.
          Questo ha permesso ai titolari di poter offrire alla clientela un ampio spazio espositivo.
        </p>
      </div>
      <img src="./img/esposizione.jpg" alt="esposizione">

    </div>
  </div>

  <div class="container">
    <div class="trovaci">
      <a href="/contatti">Scopri come trovarci <i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="trovaci">
      <a href="/servizi">Scopri i nostri servizi <i class="fas fa-chevron-right"></i></a>
    </div>
  </div>

</body>
</html>
