<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="La nostra azienda offre alla clientela, da oltre 20 anni, un servizio accurato e garantito nella fornitura e nella posa specializzata di pavimenti e rivestimenti.">
  <title>Azienda - Nuovaceramica</title>
</head>
<body>
  <%- include('navbar', {to: 'firma'}); %>

  <style><%- include('./style.css'); %></style>

  <div class="azineda-wrapper">
    <div class="container">
      <div class="ditta">
        <p>
          La ditta Nuovaceramica Sagl nasce nel 1994 da quattro impresari che sentono l'esigenza di
          creare un nuovo esercizio commerciale finora mancante in Valposchiavo. Nel 2003 Albano Costa
          e sua moglie rilevano l'azienda.
        </p>
        <p>
          La Nuovaceramica Sagl svolge prevalentemente le sue attività in Valposchiavo e in Engadina.
        </p>
        <p>
          Nel 2011 si è deciso di aprire un nuovo negozio a S. Antonio 38 a Li Curt per offrire alla
          clientela un ampio spazio espositivo.
        </p>
        <p>
          L'azienda è stata premiata con il riconoscimento Platinium e fa parte
          dell'Associazione Svizzera Piastrellisti.
        </p>
    </div>
  </div>

  <div class="images">
    <img src="./img/background2.jpg" alt="esposizione">
    <img src="./img/24.jpg" alt="entrata repower">
    <img src="./img/logo_platinium.jpg" alt="logo platinium">
  </div>

</body>
<footer><%- include('footer'); %></footer>
</html>
