<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="La nostra azienda offre alla clientela, da oltre 20 anni, un servizio accurato e garantito nella fornitura e nella posa specializzata di pavimenti e rivestimenti.">
  <title>Nuovaceramica</title>
</head>
<body>
  <%- include('navbar'); %>

  <style><%- include('./style.css'); %></style>
  <div class="cards-wrapper">
    <div class="container">
      <section class="cards">

        <a href="/ditta"><div class="card">
          <img src="./img/ditta.jpg" alt="Stufa Monte">
          <div class="card-body">
            <h2>Ditta</h2>
            <p>
              NuovaCeramica S.a.g.l. punta alla vendita diretta
              rifornendosi dalle aziende produttrici per eliminare
              le eventuali tappe intermedie e abbattere ulteriormente costi.
            </p>
            <h6>Scopri di più <i class="fas fa-chevron-right"></i></h6>
          </div>
        </div></a>

        <a href="/galleria"><div class="card">
          <img src="./img/lavoro.jpg" alt="Piastrelle naturali Repower">
          <div class="card-body">
            <h2>Lavori</h2>
            <p>
              La nostra azienda offre alla clientela, da oltre 20 anni,
              un servizio accurato e garantito nella fornitura e nella posa specializzata di pavimenti e rivestimenti.
            </p>
            <h6>Scopri di più <i class="fas fa-chevron-right"></i></h6>
          </div>
        </div></a>

        <a href="/galleria/stufe"><div class="card">
          <img src="./img/stufe.jpg" alt="Stufa Monte">
          <div class="card-body">
            <h2>Stufe</h2>
            <h6>Scopri di più <i class="fas fa-chevron-right"></i></h6>
          </div>
        </div></a>

        <a href="/locazione"><div class="card">
          <img src="./img/esposizione.jpg" alt="esposizione">
          <div class="card-body">
            <h2>Esposizione</h2>
            <p>
              Affrettatevi e andate a visitare lo spazio espositivo di Li Curt dove Albano Costa
              potrà offrirvi tutta la sua professionalità e l’esperienza in questo settore.
            </p>
            <h6>Scopri di più <i class="fas fa-chevron-right"></i></h6>
          </div>
        </div></a>

        <a href="/ditta"><div class="card">
          <img src="./img/certificato.jpg" alt="certificato">
          <div class="card-body">
            <h2>Qualificazione</h2>
            <p>
              Oltre alla fornitura, l’azienda che impiega stabilmente quattro operai specializzati,
              vi garantisce la messa in posa a regola d’arte delle piastrelle e un servizio
              di pulizia professionale di pavimenti.
            </p>
            <h6>Scopri di più <i class="fas fa-chevron-right"></i></h6>
          </div>
        </div></a>

      </section>
    </div>
  </div>
</body>
</html>
