<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="La nostra azienda offre, un servizio accurato e garantito nella fornitura e nella posa specializzata di pavimenti e rivestimenti">
  <title>Datenschutzerklärung - Nuovaceramica</title>
</head>
<body>
  <%- include('navbar_de', {to: 'data_it'}); %>

  <style><%- include('./style.css'); %></style>

  <div class="wrapper">
    <div class="container">
        
        <div><div><h2>Wichtige rechtliche Hinweise</h2>
            <p>Bitte lesen Sie die nachfolgende Datenschutzerklärung aufmerksam durch, bevor Sie fortfahren. Personen, welche die Webseite www.nuovaceramica.ch abrufen, erklären sich mit den nachstehenden Bedingungen einverstanden.<br>
                Nuovaceramica Sagl, S.Antonio 38, 7745 Li Curt (nachfolgend auch "wir" genannt) ist Betreiberin der Webseite www.nuovaceramica.ch (nachfolgend "Technologie" genannt), und somit verantwortlich für die Erhebung, Verarbeitung und Nutzung Ihrer personenbezogenen Daten.<br>
                Ihr Vertrauen ist uns wichtig, darum nehmen wir das Thema Datenschutz ernst und achten mit organisatorischen und technischen Massnahmen auf entsprechende Sicherheit. Wir schulen auch unsere Mitarbeiter. <br><br>
                Wenn wir Dritte mit der Bearbeitung von Personendaten beauftragen, wird der Dritte sorgfältig ausgewählt und muss angemessene Sicherheitsmassnahmen treffen, um die Vertraulichkeit und Sicherheit Ihrer Personendaten zu garantieren.<br><br>
            
                Verantwortliche Stelle für den Datenschutz:<br>
                <b class="company">Nuovaceramica Sagl</b><br>
                    S.Antonio 38<br>
                7745 Li Curt<br>
                <a href="mailto:albacosta@bluewin.ch">albacosta@bluewin.ch</a><br>
            
                </p>
            
            <h2>Copyright und Markenrechte</h2>
                    <p>Der gesamte Inhalt der Webseite www.nuovaceramica.ch ist urheberrechtlich geschützt. Alle Rechte gehören Nuovaceramica Sagl oder Dritten. Die Elemente auf der Webseite www.nuovaceramica.ch sind nur für Browsingzwecke frei zugänglich. Die Vervielfältigung des Materials oder Teilen davon in beliebiger schriftlicher oder elektronischer Form ist nur mit ausdrücklicher Erwähnung von www.nuovaceramica.ch gestattet. Das Reproduzieren, Übermitteln, Modifizieren, Verknüpfen oder Benutzen der Webseite www.nuovaceramica.ch für öffentliche oder kommerzielle Zwecke ist ohne vorherige schriftliche Zustimmung unsererseits untersagt. Wenden Sie sich bitte an <a href="mailto:albacosta@bluewin.ch">albacosta@bluewin.ch</a>. 
            
                    Die verschiedenen Namen und Logos auf der Webseite www.nuovaceramica.ch sind in der Regel eingetragene, geschützte Marken. Kein Bestandteil der Webseite www.nuovaceramica.ch ist so konzipiert, dass dadurch eine Lizenz oder ein Recht zur Nutzung eines Bildes, einer eingetragenen Marke oder eines Logos eingeräumt wird. Durch ein Herunterladen oder Kopieren der Webseite www.nuovaceramica.ch oder Teilen davon werden keinerlei Rechte hinsichtlich Software oder Elementen auf der Webseite www.nuovaceramica.ch übertragen. Wir behalten uns sämtliche Rechte hinsichtlich aller Elemente auf der Webseite www.nuovaceramica.ch, mit Ausnahme der Dritten gehörenden Rechte, vor. 
                    </p>
                    <h2>Keine Gewährleistung</h2>
                    <p>Obwohl wir alle Sorgfalt verwendet haben, um die Zuverlässigkeit der auf der Webseite www.nuovaceramica.ch enthaltenen Informationen im Zeitpunkt ihrer Publikation zu gewährleisten, können weder wir noch unsere Vertragspartner eine explizite bzw. implizite Zusicherung oder Gewährleistung (auch gegenüber Dritten) hinsichtlich Genauigkeit, Zuverlässigkeit oder Vollständigkeit der Informationen auf www.nuovaceramica.ch machen. Meinungen und sonstige Informationen auf der Webseite www.nuovaceramica.ch können jederzeit ohne Ankündigung geändert werden. 
            
                    Wir übernehmen keine Verantwortung und geben keine Garantie dafür ab, dass die Funktionen auf der Webseite www.nuovaceramica.ch nicht unterbrochen werden oder dass die Webseite oder der jeweilige Server frei von Viren oder anderen schädlichen Bestandteilen ist. 
                    </p>
                    <h2>Haftungs­beschränkung</h2>
                    <p>Sofern ein Vertragsverhältnis zwischen uns und dem Benutzer der Webseite www.nuovaceramica.ch oder eines anderen unserer Dienste vorliegt, haften wir nur für grobfahrlässig oder vorsätzlich verursachte Schäden. Für einen durch eine Hilfsperson verursachten Schaden schliessen wir jede Haftung aus. Wir haften nicht für entgangenen Gewinn, Datenverluste oder sonstige direkte, indirekte oder Folgeschäden, die sich aus dem Zugriff auf Elemente der Webseite www.nuovaceramica.ch oder deren Benutzung bzw. die Unmöglichkeit, auf diese zuzugreifen oder diese zu benutzen oder aus Verknüpfung mit anderen Webseiten  oder aus technischen Störungen ergeben. </p>
                    <h2>Verknüpfungen (Links) zu anderen Webseiten </h2>
                    <p>Die Webseite www.nuovaceramica.ch enthält Links zu Webseiten  von Dritten, die für Sie von Interesse sein können. Beim Aktivieren solcher Links verlassen Sie unter Umständen die Webseite www.nuovaceramica.ch oder aber es erfolgt die Darstellung von Auszügen von Webseiten  Dritter innerhalb der Umgebung der Webseite www.nuovaceramica.ch. Nuovaceramica Sagl hat keinerlei Kontrollen der durch Links mit der Webseite www.nuovaceramica.ch verknüpften Webseiten  Dritter durchgeführt und ist für den Inhalt oder das Funktionieren dieser Webseiten  Dritter in keiner Weise verantwortlich oder haftbar. Dies gilt unabhängig davon, ob Sie bei der Aktivierung eines Links die Webseite www.nuovaceramica.ch verlassen oder die Darstellung innerhalb der Umgebung der Webseite erfolgt und auch, wenn im letzteren Fall der Informationsanbieter einer fremden Webseite nicht ohne weiteres ersichtlich ist. Das Herstellen dieser Verbindung oder das Konsultieren von Webseiten  Dritter erfolgt ausschliesslich auf das Risiko und die Gefahr des Benutzers.
                    </p>
            <h2>Allgemeines</h2>
            <p>Alle im Rahmen der Anmeldung erfassten bzw. während der Nutzung entstehenden und durch das DSG bzw. die DSGVO geschützten Personendaten werden ausschliesslich für den Zweck der Vertragserfüllung genutzt, soweit nicht, insbesondere gemäss dieser Datenschutzerklärung, Ihr ausdrückliches Einverständnis zu einer darüber hinausgehenden Nutzung vorliegt oder das anwendbare Recht diese erlaubt. <br><br>
                Unsere Mitarbeiter/-innen sind verpflichtet, Personendaten vertraulich zu behandeln.
            </p>
            
            <h3>Umfang und Zweck der Erhebung, Verarbeitung und Nutzung personenbezogener Daten</h3>
            
            <h4>Welche Personendaten wir erheben</h4>
            <p>
                Wir können von Ihnen Stammdaten (ggf. Firmenname, Name, Adresse, E-Mail, usw.), Personendaten über die von Ihnen bezogenen Dienstleistungen, Ihre Zahlungsverkehrsdaten, Ihre Online-Präferenzen und Ihr Kunden-Feedback erheben.
                Wir verwenden diese Personendaten zur Kommunikation mit Ihnen, zum Abschluss und zur Abwicklung der Geschäfte mit Ihnen, zum Betrieb der Technologie, zur Abrechnung, zur Marktforschung und für Marketing, etwa zur Analyse unseres Kundenstamms oder um Sie per Post, E-Mail oder Textnachrichten zu kontaktieren. <br>
                Wir dürfen Personendaten über Ihre Kreditwürdigkeit erheben, um uns vor Zahlungsausfällen zu schützen.<br>
                Sodann werden Ihre Surf- und Nutzungsdaten erhoben. Dabei handelt es sich beispielsweise um die IP-Adresse, die Information, mit welchem Gerät, Browser und welcher Browserversion Sie die Technologie wann besucht haben, welches Betriebssystem Sie verwenden, von welcher Website bzw. App. aus Sie über einen Link unsere Technologie aufgerufen haben, und welche Elemente der Technologie Sie wie verwenden. Diese Personendaten werden zusammen mit der IP-Adresse Ihres Zugangsgeräts gespeichert. Sie dienen dazu, unsere Technologie korrekt darzustellen und zu optimieren, gegen Angriffe oder andere Rechtsverletzungen zu schützen und die Technologie für Sie zu personalisieren.
            </p>
            
            <h4>Beim Besuch von www.nuovaceramica.ch</h4>
            <p>Beim Besuch unserer Webseite speichern unsere Server temporär jeden Zugriff in einer Protokolldatei. Folgende Nutzer- und Gerätedaten sowie Personendaten werden dabei ohne Ihr Zutun erfasst und von unserem Hoster (ISP - Internet Service Provider) gespeichert:</p>
            
            <ul>
                <li>
                    <p>die IP-Adresse des anfragenden Rechners</p>
                </li>
                <li>
                    <p>das Datum und die Uhrzeit des Zugriffs</p>
                </li>
                <li>
                    <p>der Name und die URL der abgerufenen Datei</p>
                </li>
                <li>
                    <p>die Webseite, von der aus der Zugriff erfolgte</p>
                </li>
                <li>
                    <p>das Betriebssystem Ihres Rechners und der von Ihnen verwendete Browser</p>
                </li>
                <li>
                    <p>das Land von welchem Sie zugegriffen haben und die Spracheinstellungen bei Ihrem Browser</p>
                </li>
            </ul>
            <p>
                Die Erhebung und Verarbeitung dieser Daten erfolgt zu dem Zweck, die Nutzung unserer Webseite zu ermöglichen (Verbindungsaufbau), die Systemsicherheit und -stabilität dauerhaft zu gewährleisten und die Optimierung unseres Internetangebots zu ermöglichen sowie zu internen statistischen Zwecken. Hierin besteht unser berechtigtes Interesse an der Datenverarbeitung. Die IP-Adresse wird insbesondere dazu verwendet, um das Aufenthaltsland des Webseiten-Besuchers zu erfassen. Ferner wird die IP-Adresse bei Angriffen auf die Netzinfrastruktur von www.nuovaceramica.ch, zu statistischen Zwecken ausgewertet.
                Darüber hinaus verwenden wir beim Besuch unserer Technologie sog. Pixel und Cookies zur Anzeige von personalisierter Werbung sowie zur Nutzung von Webanalyse-Diensten.
            </p>
            <h3>Übermittlung personenbezogener Daten ins Ausland</h3>
            <p>Nuovaceramica Sagl ist berechtigt, Ihre personenbezogenen Daten auch an dritte Unternehmen (beauftragte Dienstleister) im Ausland zu übertragen, sofern dies für die in dieser Datenschutzerklärung beschriebenen Datenbearbeitungen erforderlich ist. Diese sind im gleichen Umfang wie wir selbst zum Datenschutz verpflichtet. Wenn das Datenschutzniveau in einem Land nicht dem schweizerischen bzw. dem europäischen entspricht, stellen wir vertraglich sicher, dass der Schutz Ihrer personenbezogenen Daten demjenigen in der Schweiz bzw. in der EU jederzeit entspricht.<br>
                Aus Gründen der Vollständigkeit weisen wir für Nutzer mit Wohnsitz oder Sitz in der Schweiz darauf hin, dass in den USA Überwachungsmassnahmen von US-Behörden bestehen, die generell die Speicherung aller personenbezogenen Daten sämtlicher Personen, deren Daten aus der Schweiz in die USA übermittelt wurden, ermöglicht. Dies geschieht ohne Differenzierung, Einschränkung oder Ausnahme anhand des verfolgten Ziels und ohne ein objektives Kriterium, das es ermöglicht, den Zugang der US-Behörden zu den Daten und deren spätere Nutzung auf ganz bestimmte, strikt begrenzte Zwecke zu beschränken, die den sowohl mit dem Zugang zu diesen Daten als auch mit deren Nutzung verbundenen Eingriff zu rechtfertigen vermögen. Ausserdem weisen wir darauf hin, dass in den USA für die betroffenen Personen aus der Schweiz keine Rechtsbehelfe vorliegen, die es ihnen erlauben, Zugang zu den sie betreffenden Daten zu erhalten und deren Berichtigung oder Löschung zu erwirken, bzw. kein wirksamer gerichtlicher Rechtsschutz gegen generelle Zugriffsrechte von US-Behörden vorliegt. Wir weisen den Betroffenen explizit auf diese Rechts- und Sachlage hin, um eine entsprechend informierte Entscheidung zur Einwilligung in die Verwendung seiner Daten zu treffen.
                Nutzer mit Wohnsitz in einem Mitgliedstaat der EU weisen wir darauf hin, dass die USA aus Sicht der Europäischen Union – unter anderem aufgrund der in diesem Abschnitt genannten Themen – nicht über ein ausreichendes Datenschutzniveau verfügt. Soweit wir in dieser Datenschutzerklärung erläutert haben, dass Empfänger von Daten (wie z.B. Google, Facebook oder Twitter ) ihren Sitz in den USA haben, werden wir durch vertragliche Regelungen zu diesen Unternehmen sicherstellen, dass Ihre Daten bei unseren Partnern mit einem angemessenen Niveau geschützt sind.
            </p>
            <h3>Datensicherheit</h3>
            <p>Wir bedienen uns geeigneter technischer und organisatorischer Sicherheitsmassnahmen, um Ihre bei uns gespeicherten personenbezogenen Daten gegen Manipulation, teilweisen oder vollständigen Verlust und gegen unbefugten Zugriff Dritter zu schützen. Unsere Sicherheitsmassnahmen werden entsprechend der technologischen Entwicklung fortlaufend verbessert.
                Sie sollten Ihre Informationen stets vertraulich behandeln und das Browserfenster schliessen, wenn Sie die Kommunikation mit uns beendet haben, insbesondere wenn Sie den Computer gemeinsam mit anderen nutzen.
                Auch den unternehmensinternen Datenschutz nehmen wir sehr ernst. Unsere Mitarbeitenden und die von uns beauftragten Dienstleistungsunternehmen sind von uns zur Verschwiegenheit und zur Einhaltung der datenschutzrechtlichen Bestimmungen verpflichtet worden.
            </p>
            
            <h3>Cookies</h3>
            <p>Wir nutzen Cookies in unserer Technologie. Cookies helfen unter vielen Aspekten, Ihren Besuch auf unserer Webseite einfacher, angenehmer und sinnvoller zu gestalten. Cookies sind Informationsdateien, die Ihr Webbrowser automatisch auf der Festplatte Ihres Computers speichert, wenn Sie unsere Webseite besuchen.<br><br>
                Session Cookies dienen dazu, während einem bestimmten Zugriff auf unsere Webseite (z.B. im Online-Shop) serverseitig gespeicherte Informationen bei jedem Zugriff eindeutig Ihnen bzw. Ihrem Internet-Browser zuzuordnen (z.B. damit der Warenkorb-Inhalt nicht verloren geht). Session Cookies werden nach dem Schliessen Ihres Internet-Browsers gelöscht. Permanente Cookies dienen dazu, Ihre Voreinstellungen (z.B. präferierte Sprache) über mehrere unabhängige Zugriffe auf unsere Webseite, d.h. auch nach Schliessung Ihres Internet-Browsers, hinweg zu speichern oder ein automatisches Login zu ermöglichen. Permanente Cookies werden gemäss den Einstellung Ihres Internet-Browsers gelöscht (z.B. einen Monat nach dem letzten Besuch). Mit der Nutzung unserer Webseite, aber auch den entsprechenden Funktionen (z.B. Sprachwahl oder Autologin) willigen Sie in den Einsatz von permanenten Cookies ein.<br><br>
                Cookies beschädigen weder die Festplatte Ihres Rechners noch werden von diesen Cookies persönliche Daten der Anwender an uns übermittelt.
                Wir setzen Cookies beispielsweise ein, um die Ihnen angezeigten Informationen, Angebote und Werbung besser auf Ihre individuellen Interessen auszurichten. Die Verwendung führt nicht dazu, dass wir neue personenbezogene Daten über Sie als Onlinebesucher erhalten. Die meisten Internet-Browser akzeptieren Cookies automatisch. Sie können Ihren Browser jedoch so konfigurieren, dass keine Cookies auf Ihrem Computer gespeichert werden oder stets ein Hinweis erscheint, wenn Sie ein neues Cookie erhalten.
                Die Deaktivierung von Cookies kann dazu führen, dass Sie nicht alle Funktionen unserer Webseite nutzen können.</p>
            
            
            
            <h3>Tracking-Tools</h3>
                            <p>Auf unserer Webseite verwenden wir sogenannte Tracking-Tools. Mit diesen Tracking-Tools wird Ihr Surfverhalten auf unserer Webseite beobachtet. Diese Beobachtung erfolgt zum Zwecke der bedarfsgerechten Gestaltung und fortlaufenden Optimierung unserer Webseite. In diesem Zusammenhang werden pseudonymisierte Nutzungsprofile erstellt und kleine Textdateien, die auf Ihrem Computer gespeichert sind („Cookies“), verwendet.<br>
                            Hierzu können Dritt-Unternehmer ebenfalls permanente Cookies, Pixel-Tags oder ähnliche Technologien einsetzen. Der Dritt-Unternehmer erhält von uns keine Personendaten, kann jedoch Ihre Nutzung unserer Website verfolgen, diese Angaben mit Daten anderer Webseiten, die Sie besucht haben und ebenfalls vom Dritt-Unternehmer verfolgt werden, kombinieren, und diese Erkenntnisse für eigene Zwecke (z.B. Steuerung von Werbung) verwenden. Die Bearbeitung Ihrer Personendaten durch den Dritt-Unternehmer erfolgt dann in Verantwortung des Dienstleisters nach dessen Datenschutzbestimmungen.<br><br>
                            Folgende Trackingtools kommen zum Einsatz:
                            </p><h4>Google Analytics</h4>
                         <p>Google Analytics ist ein Dienst von Google Ireland Limited („Google“), Gordon House, Barrow Street, Dublin 4, Irland  (Registernummer: 368047). Wir verwenden auf unserer Webseite Google Analytics, um anonymisierte Auswertungen der Webseitennutzung erstellen zu können. Dazu wird ein Cookie gesetzt und die Protokolldaten der Sitzung an Google gesandt.
                         </p><h3>Social Media Plug-Ins</h3>
                            <p>Auf der Webseite kommen die nachfolgend beschriebenen Social Plugins zum Einsatz. Die Plugins sind auf unserer Webseite wenn immer möglich standardmässig deaktiviert und senden daher keine Daten. Durch einen Klick auf den entsprechenden Social Media-Button können Sie die Plugins aktivieren.
                            Wenn diese Plugins aktiviert sind, baut Ihr Browser mit den Servern des jeweiligen sozialen Netzwerks eine direkte Verbindung auf, sobald Sie eine unserer Webseiten aufrufen. Der Inhalt des Plugins wird vom sozialen Netzwerk direkt an Ihren Browser übermittelt und von diesem in die Webseite eingebunden. Die Plugins lassen sich mit einem Klick wieder deaktivieren.
                            </p><h4>Google Maps</h4>
                            <p>Auf bestimmten Seiten finden Sie Karten, die von Google Maps aus eingebunden werden. Google Maps ist ein Produkt von Google Ireland Limited („Google“), Gordon House, Barrow Street, Dublin 4, Irland  (Registernummer: 368047). Die Karten werden mittels I-frame angezeigt. Dies bedeutet, dass in jenem Bereich der Webseite auf eine fremde Webseite zugegriffen wird. Die Datenverarbeitung in diesem I-frame entzieht sich unserem Einfluss. Google wird den Zugriff Ihrem Google Konto zuordnen. Google Maps wird ein Cookie schreiben, sobald die Seite geladen wird. Wenn Sie dieses Verhalten unterbinden möchten, können Sie mit den unter "Möglichkeit zum Opt-Out/Opt-In" gegebenen Links die Aktivierung von Google Cookies für ihren Browser ausschalten.</p><h3>Automatisierte Entscheidungsfindung / Profiling</h3>
            <p>Wir (bzw. die von uns beauftragten Dritten) treffen grundsätzlich keine automatisierten Entscheide, die Ihre Personendaten betreffen oder Ihnen gegenüber rechtliche Wirkungen entfalten oder sie in ähnlicher Weise erheblich beeinträchtigen.</p>
            
            <h3>Rechtsgrundlagen der Verarbeitung</h3>
            <p>Die Rechtsgrundlagen für Verarbeitung von Personendaten durch uns liegen in der Regel in Artikel 13 Absatz 2 Buchstabe a DSG (Verarbeitung in unmittelbarem Zusammenhang mit dem Abschluss oder der Abwicklung eines Vertrags; entspricht Artikel 6 Absatz 1 Buchstabe b EU DSGVO) sowie in Artikel 13 Absatz 1 DSG (Einwilligung der betroffenen Person oder Verpflichtung zur Verarbeitung durch Gesetz; entspricht Artikel 6 Absatz 1 Buchstabe a EU DSGVO).
                In Fällen, in denen wir aufgrund von Missbrauch, Zahlungsausfall oder aus ähnlichen legitimen Gründen den Abschluss von Verträgen mit betroffenen Personen künftig verweigern wollen, behalten wir uns vor, gestützt auf Artikel 13 Absatz 1 DSG (entspricht Artikel 6 Absatz 1 Buchstabe f EU DSGVO) Namen, Vornamen, Adresse und E-Mail-Adresse einer betroffenen Person sowie die Personendaten zu den Umständen des entsprechenden Falles aus eigenem Interesse aufzubewahren.
                Eine Bearbeitung Ihrer Personendaten durch andere Konzerngesellschaften erfolgt ebenfalls gestützt auf Art. 13 Abs. 1 DSG (entspricht Artikel 6 Absatz 1 Buchstabe f EU DSGVO).</p>
            
            <h3>Ihre Rechte</h3>
            <p>Auf Antrag erteilen wir jeder betroffenen Person Auskunft darüber, ob und ggf. welche personenbezogenen Personendaten über sie bearbeitet werden (Recht auf Bestätigung, Recht auf Auskunft).
                Auf Ihren Antrag hin:</p>
            <ul>
                <li>
                    <p>verzichten wir teilweise oder ganz auf die Verarbeitung von Personendaten (Recht auf Widerruf Ihrer Einwilligung zur Verarbeitung von nicht zwingend nötigen Personendaten; Recht auf Vergessen werden). Ihren Antrag auf Vergessen werden teilen wir auch Dritten mit, denen wir Ihre Personendaten zuvor weitergeleitet haben.</p>
                </li>
                <li>
                    <p>berichtigen wir die entsprechenden Personendaten (Recht auf Berichtigung)</p>
                </li>
                <li>
                    <p>schränken wir die Verarbeitung der entsprechenden Personendaten ein (Recht auf Einschränkung der Verarbeitung; in diesem Fall werden wir Ihre Personendaten nur noch speichern oder sie zum Schutz unserer Rechtsansprüche oder zum Schutz von Rechten einer anderen Person verwenden.)</p>
                </li>
                <li>
                    <p>erhalten Sie die betreffenden personenbezogenen Personendaten in einem strukturierten, gängigen und maschinenlesbaren Format ausgehändigt (Recht auf Datenübertragbarkeit).</p>
                </li>
            </ul>
            <p>
                Um einen derartigen Antrag zur Ausübung eines in diesem Abschnitt beschriebenen Rechtes zu stellen, beispielsweise wenn Sie von uns keine E-Mail-Newsletter mehr empfangen oder Ihr Konto löschen möchten, nutzen Sie die entsprechende Funktion auf unserer Website oder kontaktieren Sie unsere/n Datenschutzbeauftragte/n oder eine/n Mitarbeiter/-in gemäss den Angaben zu Beginn dieser Datenschutzerklärung.
                Wenn wir einem Antrag nicht Folge leisten, informieren wir Sie über die Gründe hierfür. Wir dürfen beispielsweise in rechtlich zulässiger Weise die Löschung verweigern, wenn Ihre Personendaten für die ursprünglichen Zwecke nach wie vor benötigt werden (etwa wenn Sie von uns nach wie vor eine Dienstleistung beziehen), wenn die Verarbeitung auf einer zwingenden gesetzlichen Grundlage beruht (beispielsweise auf gesetzlichen Rechnungslegungsvorschriften), oder wenn wir ein überwiegendes eigenes Interesse haben (so etwa im Fall eines Rechtsstreits gegen die betroffene Person).
                Wenn wir Ihnen gegenüber ein überwiegendes Interesse an der Verarbeitung von Personendaten geltend machen, haben Sie das Recht, der Verarbeitung dennoch zu widersprechen, sofern sich aus Ihrer im Vergleich zu anderen betroffenen Personen besonderen Situation eine andere Interessenabwägung ergibt (Recht auf Widerspruch). Dies könnte beispielsweise der Fall sein, wenn Sie eine Person von öffentlichem Interesse sind oder durch die Verarbeitung das Risiko begründet wird, dass Sie durch Dritte geschädigt werden.
                Sollten Sie mit unserer Reaktion auf Ihren Antrag nicht zufrieden sein, steht Ihnen das Recht zu, bei einer zuständigen Aufsichtsbehörde, beispielsweise in ihrem Wohnsitzland oder am Sitz von Nuovaceramica Sagl, Beschwerde einzulegen (Recht auf Beschwerde).
            
            </p>
            
            <h3>Aufbewahrung von Daten</h3>
            <p>Wir bearbeiten personenbezogene Personendaten nur so lange, wie dies für den jeweiligen Zweck nötig oder von Gesetzes wegen vorgeschrieben ist.
                Wenn Sie bei uns ein Konto eingerichtet haben, bewahren wir die hierbei angegebenen Stammdaten unbeschränkt auf. Sie können jedoch jederzeit die Löschung des Kontos verlangen (vgl. Überschrift „Ihre Rechte“). Wir werden die Stammdaten löschen, sofern wir nicht durch das Gesetz zur Aufbewahrung verpflichtet sind.
                Bei einer Bestellung ohne Konto werden Ihre Stammdaten nach dem Ablauf der Garantiefrist oder dem Ende der Dienstleistung insoweit gelöscht, als wir nicht durch das Gesetz zur Aufbewahrung verpflichtet sind. Diese Löschung kann umgehend oder im Rahmen periodisch
                    durchgeführter Löschdurchläufe erfolgen.<br><br>
                Vertragsdaten, die auch Personendaten inkludieren können, werden von uns bis zum Ablauf der gesetzlichen Aufbewahrungspflicht von 10 Jahren aufbewahrt. Aufbewahrungspflichten von Daten ergeben sich u.a. aus Vorschriften der Rechnungslegung und aus steuerrechtlichen Vorschriften sowie der Aufbewahrungspflicht elektronischer Kommunikation. Soweit wir diese Daten nicht mehr zur Durchführung der Dienstleistungen für Sie benötigen, werden die Daten gesperrt. Dies bedeutet, dass die Daten dann nur noch für Zwecke der Rechnungslegung und für Steuerzwecke verwendet werden dürfen.<br><br>
                Sofern wir aufgrund von Missbräuchen, Zahlungsausfällen oder anderen legitimen Gründen weitere Geschäftskontakte mit einer betroffenen Person verweigern wollen, bewahren wir entsprechende Personendaten während fünf Jahren, im Wiederholungsfalle während zehn Jahren auf.
            </p>
            
            <h3>Möglichkeit zum Opt-Out/Opt-In</h3>
            <p>
                Falls Sie nicht damit einverstanden sind, dass wir Ihre Nutzungsdaten auswerten, können Sie dies abschalten. Das Abschalten des Trackings erfolgt durch das Ablegen eines sogenannten „Opt-Out Cookie“ auf Ihrem System. Sofern Sie einmal alle Ihre Cookies löschen sollten, beachten Sie, dass damit auch der Opt-Out Cookie verloren geht und ggf. wieder zu erneuern ist. <br>
                Bitte beachten Sie, dass untenstehende Liste eine Auflistung von Opt-Out Optionen darstellt, die zuweilen auch von unseren Partnern eingesetzte Tracker beinhaltet, die nicht zwangsläufig auf der Webseite zum Einsatz kommen:<br></p>
            <ul>
                <li><a href="http://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">Browser Add on zur Deaktivierung von Google Analytics</a></li>
                <li><a href="https://www.google.com/settings/ads/plugin?hl=de" target="_blank">Ausschalten des DoubleClick Cookie</a></li>
                <li><a href="https://www.quantcast.com/opt-out/" target="_blank">Ausschalten des Quandcast targeting</a></li>
                <li><a href="http://www.addthis.com/advertising-choices" target="_blank">AddThis Targeting ausschalten</a></li>
                <li><a href="https://login.intelliad.com/optout.php" target="_blank">Opt-Out für IntelliAd Targeting</a></li>
                <li><a href="https://liveramp.uk/privacy/" target="_blank">Opt-Out für Bookatable</a></li>
            </ul>
            <p>
                Eine gute Möglichkeit zur Konfiguration einer grossen Anzahl von Cookies finden sie bei <a href="http://www.youronlinechoices.com/de/praferenzmanagement/" target="_blank">youronlinechoices.com</a> oder bei <a href="https://optout.aboutads.info" target="_blank">optout.aboutads.info</a><br>
                oder installieren sie die für jeden gängigen Browser erhältliche Browsererweiterung <a href="https://www.ghostery.com/" target="_blank">Ghostery.</a>
            </p>
            
            <h3>Anwendbares Recht und Gerichtsstand</h3>
            <p>Die vorliegende Datenschutzerklärung und die Verträge, die basierend auf oder im Zusammenhang mit dieser Datenschutzerklärung geschlossen werden, unterliegen <b>schweizerischem Recht</b>, sofern nicht zwingend das Recht eines anderen Staates anwendbar ist. Gerichtsstand ist am Sitz von Nuovaceramica Sagl, sofern nicht zwingend ein anderer Gerichtsstand vorgegeben ist.</p>
            
            <h3>Schlussbestimmungen</h3>
            <p>
                Sollten einzelne Teile dieser Datenschutzerklärung unwirksam sein, so berührt dies die Wirksamkeit der Datenschutzerklärung im Übrigen nicht. Durch die Weiterentwicklung unserer Website und Angebote oder durch geänderte gesetzliche bzw. behördliche Vorgaben kann es notwendig werden, diese Datenschutzerklärung zu ändern. Die jeweils aktuelle Datenschutzerklärung ist auf unserer Website publiziert.<br><br>
                Diese Seite wurde letztmals geändert am 31.8.2023. Wenn Sie Fragen oder Kommentare zu unseren rechtlichen Hinweisen oder zum Datenschutz haben, nehmen Sie bitte unter <a href="mailto:albacosta@bluewin.ch">albacosta@bluewin.ch</a> mit uns Kontakt auf.
            
            </p></div></div>

    </div>
  </div>

</body>
<footer><%- include('footer', {de: true}); %></footer>
</html>
