<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="La nostra azienda offre alla clientela, da oltre 20 anni, un servizio accurato e garantito nella fornitura e nella posa specializzata di pavimenti e rivestimenti.">
  <title>Servizi - Nuovaceramica</title>
</head>
<body>
  <%- include('navbar'); %>

  <style><%- include('./style.css'); %></style>

  <div class="container">
    <ul class='servizi'>
      <li>Consulenza professionale</li>
      <li>Esecuzione di preventivi e offerte</li>
      <li>Ampia sala espositiva</li>
      <li>Fornitura e posa di pavimenti e rivestimenti</li>
      <li>Piastrelle in ceramica di ogni tipo</li>
      <li>Piastrelle in gres porcellanato</li>
      <li>Mosaici vetrosi e ceramici</li>
      <li>Pietre naturali</li>
      <li>Resine</li>
      <li>Riparazioni di piastrelle e pietre naturali</li>
      <li>Pulizia professionale di pavimenti</li>
      <li>Stufe a legna e pellet</li>
      <li>Fornelli a legna</li>
    </ul>
  </div>
</body>
</html>
