<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Häuser: Profile, Harze und Öfen">
  <title>Häuser - Nuovaceramica</title>
</head>
<body>
  <%- include('navbar_de', {to: 'concessionarie'}); %>

  <style><%- include('./style.css'); %></style>

  <div class="concessionarie-wrapper">
    <div class="container conc">
      <h1>Häuser:</h1>
      <h4>Keramik:</h4>
      <ul>
        <li>Sant'Agostino \ Mirage \ Panaria \ Del Conca \ Vogue \ Ragno \ Marazzi \ Gazzini \ Edilgres \ Cipa \ Coem \ Sintesi \ Ideaceramica \ Area \ Dado \ Magica \ Master \ Progetto Baucher \ Casalgrandepadana \ Ariostea \ ItalianTrend \ Serenissima \ Bisazza \ Pietre d'Arredo</li>
      </ul>
      <h4>Profile:</h4>
      <ul>
        <li>Progressprofiles \ Schülter System</li>
      </ul>
      <h4>Harze:</h4>
      <ul>
        <li>Errelab</li>
      </ul>
      <h4>Öfen:</h4>
      <ul>
        <li>Tiba \ Skanteherm \ Tonwerk \ Leda \ Wodtke \ Tulikivi \ Rika \ Edilkamin \ Cucine Greithwald</li>
      </ul>
    </div>
  </div>
</body>
<footer><%- include('footer', {de: true}); %></footer>
</html>
