.wrapper {
  background: var(--secondary);
  padding: 40px 0;
}

.wrapper p {
  padding-bottom: 20px;
  font-size: 20px;
}

.wrapper li a {
  font-size: 20px;
  text-decoration: underline;
}

.wrapper li:hover a {
  color: dodgerblue;
}

ol {
  padding-left: 45px;
}

li {
  padding: 5px;
}