<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Professionelle Beratung, Ausarbeiten detaillierter Offerten, Grosse Ausstellung...">
  <title>Dienstellungen - Nuovaceramica</title>
</head>
<body>
  <%- include('navbar_de', {to: 'servizi'}); %>

  <style><%- include('./style.css'); %></style>

  <div class="servizi-wrapper">
    <div class="container">
      <div class="servizi">
        <h2>Angebot</h2>
        <hr>
        <ul>
          <li>Professionelle Beratung</li>
          <li>Ausarbeiten detaillierter Offerten</li>
          <li>Grosse Ausstellung</li>
          <li>Lieferung und Verlegerservice von Böden</li>
          <li>Keramikplatten aller Art</li>
          <li>Gres porcellanato Fliesen</li>
          <li>Glasmosaik – Mosaikfliesen</li>
          <li>Naturstein, Harzböden</li>
          <li>Reparatur von Platten- und Natursteinböden</li>
          <li>Professionelle Bodenreinigung</li>
          <li>Holzofen und Pelletofen</li>
          <li>Holzkochherde</li>
        </ul>
      </div>
    </div>
  </div>
</body>
<footer><%- include('footer'); %></footer>
</html>
